{% load compress %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "index" %}">
      <img src="{% static 'oktopustiapp/img/logootnb2.png' %}" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "graficosenlinea" %}">Graficos en Linea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "graficoseda" %}">Graficos EDA</a>
        </li>
        
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <!-- Si el usuario está autenticado, muestra el dropdown de usuario -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerra sesión</a></li>
          </ul>
        </li>
        {% else %}
        <!-- Si el usuario no está autenticado, muestra la opción de login -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
